footer#footer-main
  .container
    .row
      .col-sm-3
        p Uncopyright 2016
        p coded by nhom 100

      .col-sm-3
        ul.list-unstyled
          li
            a(href="/") Home
      .col-sm-3
        ul.list-unstyled
          li
            a(href="") facebook
          li
            a(href="#") youtuble
          li
            a(href="#") twitter
          li
            a(href="#") googleplus
      .col-sm-3
        h6 Giới thiệu
        p Giải pháp gửi thư an toàn hiệu quả nhanh chóng.
