footer#footer-main
  .container
    .row
      .col-sm-3
        p uncopyright 2015, do what you want.
        p coded by Phung Van Dung

      .col-sm-3
        ul.list-unstyled
          li
            a(href="#") Home
          li
            a(href="#") What we do
          li
            a(href="#") about
          li
            a(href="#") latest
      .col-sm-3
        ul.list-unstyled
          li
            a(href="#") facebook
          li
            a(href="#") youtuble
          li
            a(href="#") twitter
          li
            a(href="#") googleplus
      .col-sm-3
        h6 a tiny header
        p  Cộng đồng trường đại học nơi dành cho tất cả bạn sinh viên trên toàn quốc.
