doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    
    link(rel='stylesheet', href='/css/style.css')
    link(rel="stylesheet", href="/bootstrap-4/dist/css/bootstrap.css")
    link(rel="stylesheet", href="/bootstrap-4/dist/css/bootstrap.min.css")
    
    
    script(src="/js/jquery-2.2.3.min.js", type="text/javascript", charset="utf-8")
    script(src="js/main.js",type="text/javascript")
    title Ứng dụng gửi email
