doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    
    
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js", type="text/javascript", charset="utf-8")
    script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js", type="text/javascript", charset="utf-8")
    
    
    script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="js/main.js",type="text/javascript")
    title= pageTitle
