nav.navbar.navbar-dark.bg-inverse.navbar-full#nav-main
  a(class="navbar-brand", href="#") LoGo
  ul.nav.navbar-nav
    li.nav-item.active
      a(class="nav-link", href="#") Home 
        span.sr-only (curent) 
    li.nav-item
      a(class="nav-link", href="#") Features
    li.nav-item
      a(class="nav-link", href="#") Pricing
    li.nav-item
      a(class="nav-link", href="#") About
  form.form-inline.pull-xs-right
    section.login
      if session.isLoggedIn
        button(class="btn btn-success-outline", type="submit") Đăng Xuất
      else
        button(id="dangnhap",class="btn btn-success-outline", type="button") Đăng nhập
        button(id="dangky",class="btn btn-success-outline", type="button") Đăng ký
