nav.navbar.navbar-dark.bg-inverse.navbar-full#nav-main
  .col-sm-8
    a(class="navbar-brand", href="/") AVENGERS 100
      span.sr-only (curent)
    ul.nav.navbar-nav
      li.nav-item.active
        a(class="nav-link", href="/") Home 
          span.sr-only (curent) 
  .col-sm-4
    form.form-inline
      section.login
        -var name = session.user;
        if session.isLoggedIn
          form(class="form-inline")
            .row
              .col-sm-9
                h4#NameLogin
                  span= name
              .col-sm-3
                button(id="dangxuat", class="btn btn-success-outline pull-xs-right", type="button") Đăng Xuất
        else
          button(id="dangnhap",class="btn btn-success-outline", type="button") Đăng nhập
          button(id="dangky",class="btn btn-success-outline", type="button") Đăng ký
