extends layout

block content
    .container
      .modal-content
        .modal-header
          button(type="button", class="close", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title Nội dung
        form
          .form-group
            label( for="recipient-name", class="form-control-label") Người nhận:
            input(type="text", class="form-control", id="recipient-name")
          .form-group
            label(for="message-text", class="form-control-label") Message:
            textarea(class="form-control", id="message-text")
        .modal-footer
          button(type="button", class="btn btn-secondary", data-dismiss="modal") Hủy
          button(type="button", class="btn btn-primary") Gửi
