extends layout

block content
		.container#container-signup
			.col-sm-3
			.col-sm-6.col-sm-offser-1#log_sign
				h2 Đăng ký
				if exists
					.alert.alert-danger(role='alert')
						strong Tên đăng nhập tồn tại. Bạn đang định
						a(href="/login") Đăng Nhập
						| .?
				if invalid
					.alert.alert-danger(role='alert')
						strong Bạn chưa điền đầy đủ vào thông tin đăng ký
				form(method='post', acction='/signup', enctype='application/x-www-form-urlencoded' )
					.form-group.row
						label(for="inputName", class="col-sm-3 form-control-label") Họ và tên
						.col-sm-9
							input(name='name', type='text', class='form-control', id='inputName', placeholder='Họ và tên')
					.form-group.row
						label(for="inputEmail3", class="col-sm-3 form-control-label") Email
						.col-sm-9
							input(name='email1', type='email', class='form-control', id='inputEmail3', placeholder='Email')
					.form-group.row
						label(for="inputPassword3", class="col-sm-3 form-control-label") Mật khẩu
						.col-sm-9
							input(name="pass",type="password", class="form-control", id="inputPassword3", placeholder="Password")
					.form-group.row(style="margin-left: 415px;")
						.col-sm-offser-2.col-sm-10
							button(type="submit", class="btn btn-primary ") Đăng ký
