h1= pageTile
section#cover
  div#cover-caption
    div.container
      div.col-sm-10.col-sm-offsers-1
        div#topsignin
          h1.display-3 Wellcome to my email
          p Đây là trang gửi email free 
          p Beta version
          br
          a(href="#nav-main", class="btn btn-secondary-outline btn-sm", role="button") &dArr;
