
html, body {
	height: 100%
}
img {
	max-width: 100%;
}

#cover {
	background: #222 url('../img/4.jpg') bottom center no-repeat;
	background-size: cover;
	color: #fff;
	height:100%;
	text-align: center;
	display:  flex;
	align-items: center;
}

#cover-caption {
	width: 100%;
}

#cover .form-inline  .form-group {
	margin-right: 5px;

}

.section-content {
	padding: 80px 0;
}

#footer-main {
	background-color: #222;
	color: #fff;
	font-size: 0.8rem;
	padding: 2.5rem;

}

#dangnhap {
	margin-right: 5px;
}

#fDangNhap {
	margin: 10px auto;
	padding: 10px 10px;
	border: 1px solid #988177;
	align-items: center;
	text-align: center;
	display:  flex;
}


ul #Tieude {
	margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}

ul #Tieude li p{
	display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul #Tieude li {
    float: left;
}

#container-login {
	margin: 60px auto;
}

#container-signup, #container-home, #container-friend {
	margin: 60px auto;
}

.ListSentEmail {
    list-style-type: none;
    height: auto;
    border: 1px solid;
    border-color: gainsboro;
		margin: 0;
    padding: 0;
		display: inline-block;
}
.ListSentEmail li {
	 float: left;
	 display: flex;
	 margin: 10px;

}
.ListSentEmail li button {
	border: none;
	height: 44px;
	background-color: #C9302C;
	color: #fff;
}
.ListSentEmail li p {
	display: block;
 	padding: 8px;
	background-color: #C9302C;
	color: #fff;
	font-weight: bold;
	font-size: 1.2em;
}
.clear {
	margin-left: 20px;
}

.dropbtn {
    background-color: #3879D9;
		border-radius: 10px;
    color: white;
    padding: 8px;
    font-size: 13px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #025AA5;
}

.container-M {
visibility:hidden;
}
